@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.monCV {
  border-radius: 50px;
  color: #0f0801;
  font-family: "Raleway";
  background: #ffa800;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  font-style: oblique;
}
.monCV:hover {
  color: black;
  background: #ffcf73;
  box-shadow: 0px 0px 5px #0f0801;
  transition: ease-out 0.5s;
  font-weight: normal;
}
.monCV i {
  margin: 4px;
}

.btnupArrow i {
  font-size: 1.2rem;
  color: #0f0801;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #ffa800;
  padding: 15px;
  margin: 15px;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
body .background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* ----------NAVIGATION DESKTOP -----------*/
.my-logo {
  width: 160px;
  height: 90px;
}

.my-logo:hover {
  -webkit-animation: rotate-scale-up 0.8s linear both;
  animation: rotate-scale-up 0.8s linear both;
}
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

.navbar-desktop {
  position: absolute;
  width: 100%;
  margin-top: 25px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, #ffa800, #fffff0) no-repeat;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.navbar-desktop .line {
  border: ridge #0f0801 0.3mm;
  color: #0f0801;
  width: 100%;
  height: 3px;
}

.navbar-desktop--ul {
  display: flex;
  list-style-type: none;
}
.navbar-desktop--ul li {
  width: 130px;
  text-align: center;
}
.navbar-desktop--ul :nth-child(4) {
  padding-right: 50px;
}
.navbar-desktop--ul a {
  text-decoration: none;
  color: #0f0801;
  text-shadow: -1px 3px 4px #9d5a0b, 0 0 0em #9d5a0b, 0px 0px 0em white;
}

.navbar-desktop--ul a:hover {
  color: #fffff0;
  text-shadow: 1px 1px 2px black;
  transition: ease-out 0.2s;
}

/* ----------NAVIGATION MOBILE -----------*/
.navbar-mobile {
  display: none;
  position: fixed;
  top: 9px;
  right: 15px;
  font-size: 2rem;
}
.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 50vh;
  width: 35vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-mobile a {
  font-size: 1.4rem;
  padding: 1rem;
  color: #0f0801;
  text-decoration: none;
}
.navbar-mobile i {
  position: fixed;
  z-index: 9999;
  top: 10px;
  right: 15px;
  font-size: 3rem;
  color: #ffa800;
  cursor: pointer;
}

.modal {
  background: linear-gradient(to top, #ffa800, #fffff0) no-repeat;
  opacity: 1;
  height: 50vh;
  position: fixed;
  right: -100vh;
  width: 100%;
}

.change-modal {
  transition: right 0.9s;
  right: -20vh;
  top: 0;
  opacity: 0.95;
  border-bottom-left-radius: 5px;
}

/* ---------- TITRE ACCUEIL -----------*/
#contenair-title-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: normal;
  color: #ffa800;
}
#contenair-title-and-logo .title {
  border-top-left-radius: 10px;
  padding: 17px;
  text-align: center;
  box-shadow: -20px -15px 20px rgba(0, 0, 0, 0.46);
}
#contenair-title-and-logo h1 {
  text-shadow: 0px 10px 6px black;
}
#contenair-title-and-logo .line {
  border: solid;
  border-width: 0.3mm;
  width: 5%;
  height: 17%;
  border-top: none;
  border-left: none;
  border-right: none;
}
#contenair-title-and-logo p {
  font-size: 0.9rem;
  padding: 5px;
  font-weight: bold;
}
#contenair-title-and-logo .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-left: solid;
  border-width: 0.5mm;
}
#contenair-title-and-logo .logo i {
  color: #ffa800;
}
#contenair-title-and-logo .logo i:hover {
  color: #0f0801;
  text-shadow: 0px 0px 10px #ffa800, 0 0 0em #ffa800, 0px 0px 0em #0f0801;
  transition: ease-in-out 0.4s;
}

/* -- Apparition du menu burger sous 700px -- */
@media screen and (max-width: 700px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}
@media screen and (min-width: 701px) {
  #contenair-Apropos {
    padding-top: 10px;
    display: flex;
    align-content: center;
  }
  #contenair-Apropos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 50px 75px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ffa800, #fffff0) no-repeat;
  }
  #contenair-Apropos div h4 {
    width: 94%;
  }
  #contenair-skills .contenair-allSkills {
    padding: 80px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #contenair-skills .contenair-allSkills .contenair-softSkills {
    height: 50%;
    width: 80%;
  }
  #contenair-skills .contenair-allSkills .contenair-hardSkills {
    height: 80%;
    width: 100%;
  }
  #contenair-skills .contenair-allSkills .contenair-hardSkills .allContenairLogo {
    height: 80%;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  #contenair-skills .contenair-allSkills .contenair-hardSkills .allContenairLogo .langages-logo {
    display: flex;
    flex-direction: column;
    width: 70px;
  }
  #contenair-skills .contenair-allSkills .contenair-hardSkills .allContenairLogo .versionning {
    display: flex;
    flex-direction: column;
  }
  #contenair-skills .contenair-allSkills .contenair-hardSkills .allContenairLogo .frameworks {
    display: flex;
    flex-direction: column;
    width: 70px;
  }
  #contenair-skills .contenair-allSkills .contenair-hardSkills .allContenairLogo h5 > span {
    font-size: 10px;
  }
  #contenair-projects .contenair-cards-projects {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    align-items: center;
  }
  .cards {
    width: 290px;
  }
}
/* ---------- SECTION A PROPOS ---------------- */
#contenair-Apropos {
  height: 100vh;
}
#contenair-Apropos div {
  text-align: center;
}
#contenair-Apropos div h4 {
  margin: 50px 0px 5px 30px;
  text-align: start;
}
#contenair-Apropos div p {
  color: #0f0801;
  font-weight: 300;
  margin: 0px 30px 0px 30px;
  line-height: 25px;
  text-align: start;
}
#contenair-Apropos div p i {
  color: #0f0801;
  margin: 5px;
}
#contenair-Apropos .myPicture {
  filter: drop-shadow(0px 0px 40px #ffa800);
  width: 170px;
  border-radius: 5%;
  margin-top: 40px;
}
#contenair-Apropos .remove-myPicture {
  opacity: 0.1;
}

#contenair-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
#contenair-skills .contenair-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0px;
  margin: 15px 150px 0px 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #5c2e00;
  color: #ffa800;
  width: 75%;
}
#contenair-skills .contenair-title .line {
  border-bottom: solid;
  height: min-content;
  border: solid;
  border-width: 0.3mm;
  width: 60%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 10px;
}
#contenair-skills .contenair-allSkills {
  height: 100vh;
}
#contenair-skills .contenair-allSkills .contenair-softSkills {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, rgba(255, 168, 0, 0.5803921569), rgba(255, 255, 255, 0.5607843137)) no-repeat;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 15px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
#contenair-skills .contenair-allSkills .contenair-softSkills h3 {
  color: #5c2e00;
  text-shadow: 0px 2px 2px #ffa800;
}
#contenair-skills .contenair-allSkills .contenair-softSkills div {
  width: 100%;
}
#contenair-skills .contenair-allSkills .contenair-softSkills p {
  font-size: smaller;
  padding: 0px 0px 5px 20px;
  width: 100%;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills {
  background: linear-gradient(to top, rgba(255, 168, 0, 0.5803921569), rgba(255, 255, 255, 0.5607843137)) no-repeat;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 15px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .titleLogo {
  display: flex;
  justify-content: space-between;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .titleLogo h3 {
  padding: 10px 0px;
  color: #5c2e00;
  text-shadow: 0px 2px 2px #ffa800;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .titleLogo i {
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-html5 {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #e34c26;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-css3-alt {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #264de4;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-square-js {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #d8c72f;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-sass {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #cc6699;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-square-git {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #f34f29;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-square-github {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #171515;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-react {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #61dbfb;
}
#contenair-skills .contenair-allSkills .contenair-hardSkills .fa-vuejs {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px #0f0801;
  color: #41b883;
}

#contenair-projects {
  display: flex;
  flex-direction: column;
}
#contenair-projects .contenair-title-projects {
  background: #ffa800;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0px;
  margin: 15px 150px 0px 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: #fffff0;
  width: 75%;
}
#contenair-projects .contenair-title-projects .line {
  border-bottom: solid;
  height: min-content;
  border: solid;
  border-width: 0.3mm;
  width: 55%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 10px;
}
#contenair-projects .contenair-cards-projects {
  display: flex;
  flex-direction: column;
}
#contenair-projects .contenair-cards-projects .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-size: cover;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px #0f0801;
}
#contenair-projects .contenair-cards-projects .cards .styleBackground {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
}
#contenair-projects .contenair-cards-projects .cards .text-center {
  font-size: 1.2rem;
  text-shadow: 2px 6px 5px #0f0801;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffa800;
  border-radius: 5px;
  padding: 10px;
}
#contenair-projects .contenair-cards-projects .cards .remove-descriptif {
  z-index: -1;
}
#contenair-projects .contenair-cards-projects .cards .contenair-logo {
  align-content: center;
  display: flex;
  justify-content: center;
}
#contenair-projects .contenair-cards-projects .cards .contenair-logo a {
  text-decoration: none;
  margin: 5px;
  color: #ffa800;
}
#contenair-projects .contenair-cards-projects .cards .contenair-logo a i {
  font-size: 25px;
  width: 60px;
  border: solid;
  padding: 8px;
  border-radius: 15px;
}
#contenair-projects .contenair-cards-projects .cards .contenair-logo a i:hover {
  color: #0f0801;
  transition: all 0.5s;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 30px;
  height: 170px;
  background-color: rgba(255, 207, 0, 0.1019607843);
  box-shadow: 2px 6px 5px #0f0801, 0 0 0em #ff8e09, 0px 0px 0em white;
}
footer .background-img-footer {
  position: absolute;
  width: 100%;
  height: 30%;
  object-fit: cover;
  z-index: -1;
}
footer h2 {
  color: #ffa800;
  padding: 10px;
  font-size: 1.5rem;
  text-shadow: 2px 7px 5px #000000, 0 0 0em rgba(0, 0, 0, 0), 0px 0px 0em black;
}
footer div {
  display: flex;
  align-items: center;
}
footer div i {
  color: #ffa800;
}
footer .mail {
  padding: 10px;
  font-size: 13px;
  color: #fffff0;
}
footer .contenair-socialMediaLogo {
  width: 60px;
  justify-content: space-around;
  padding: 8px;
}
footer a {
  text-decoration: none;
  color: #ffa800;
}
footer .droit {
  font-size: 8px;
  color: #fffff0;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
