/* ---------- SECTION A PROPOS ---------------- */
#contenair-Apropos {
  // height: 100vh;
  div {
    text-align: center;
    h4 {
    margin: 50px 0px 5px 30px;
    text-align: start;
    }
  
    p {
      color: $black;
      font-weight: 300;
      margin: 0px 30px 120px 30px;
      text-align: start;
      
      i {
          color: $black;
          margin: 5px;
      }
    }
  }
    .myPicture {
      filter: drop-shadow(0px 0px 40px #ffa800);
      width: 170px;
      border-radius: 5%;
      margin-top: 40px;
    }

    .remove-myPicture {
     opacity: 0.1;
    }

  }