/* -- Apparition du menu burger sous 700px -- */
@media screen and (max-width: 700px) {
    
    .navbar-desktop {
      display: none;
    }
    .navbar-mobile {
      display: block;
    }
  }

@media screen and (min-width: 701px){
  #contenair-skills .contenair-allSkills .contenair-softSkills {
    margin-right: 250px;
  }
  #contenair-skills .contenair-allSkills .contenair-hardSkills {
    margin-left: 250px;
  }
}