// bouton télécharger mon cv
.monCV {
    border-radius: 50px;
    color: $black;
    font-family: "Raleway";
    background: $orange;
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-style: oblique;
    &:hover {
        color: black;
        background: #ffcf73;
        box-shadow: 0px 0px 5px $black;
        transition: ease-out 0.5s;
        font-weight: normal;
    }
    i {
        margin: 4px;
    }
}
// fleche pour remonter
.btnupArrow i {
    font-size: 1.2rem;
    color: $black;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $orange;
    padding: 15px;
    margin: 15px;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      color: $whiteIvoire;
      background: #5c2e00;
      transition: ease-in-out 0.4s;
    }
}