// animation de mon logo
@mixin animeLogo {

    -webkit-animation: rotate-scale-up 0.8s linear both;
    animation: rotate-scale-up 0.8s linear both;

    @-webkit-keyframes rotate-scale-up {
        0% {
          -webkit-transform: scale(1) rotateZ(0);
                  transform: scale(1) rotateZ(0);
        }
        50% {
          -webkit-transform: scale(2) rotateZ(180deg);
                  transform: scale(2) rotateZ(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateZ(360deg);
                  transform: scale(1) rotateZ(360deg);
        }
    }
    @keyframes rotate-scale-up {
        0% {
          -webkit-transform: scale(1) rotateZ(0);
                  transform: scale(1) rotateZ(0);
        }
        50% {
          -webkit-transform: scale(2) rotateZ(180deg);
                  transform: scale(2) rotateZ(180deg);
        }
        100% {
          -webkit-transform: scale(1) rotateZ(360deg);
                  transform: scale(1) rotateZ(360deg);
        }
    }    
}

// style du contenair softskills et hardskills
@mixin skillsStyleContenair {
  background: linear-gradient(to top, #ffa80094, rgba(255, 255, 255, 0.5607843137)) no-repeat;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 15px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

// style du logo des titres softskills et hardskills
@mixin skillsStyleLogoTitle {
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
}

// style des logo langages etc..
@mixin styleLogo {
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 2px 2px $black;
}
    
    



  