#contenair-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .background-img {
        filter: contrast(0.4);
    }
    .contenair-title {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0px;
        margin: 15px 150px 0px 0px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background: #5c2e00;
        color: $orange;
        width: 75%;
        .line {
            border-bottom: solid; 
            height: min-content;
            border: solid;
            border-width: 0.3mm;
            width: 60%;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-left: 10px;
        }
    }
    .contenair-allSkills {
        height: 100vh;
        z-index: -1;
        .contenair-softSkills {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: linear-gradient(to top, #9d5a0b, #ffffff) no-repeat;
            @include skillsStyleContenair;
            h3 {
                color: $orange;
            }
            div {
                width: 100%;
            }
            p {
                font-size: smaller;
                padding: 0px 0px 5px 20px;
                width: 100%
            }
            i {
                color: $orange; 
            }
        }

        .contenair-hardSkills {
            @include skillsStyleContenair;
            background: linear-gradient(to top, rgba(255, 168, 0, 0.5803921569), #ffffff) no-repeat;
            .titleLogo {
                display: flex;
                justify-content: center;
                h3 {
                    padding: 10px 0px; 
                    color: $orange;
                }
                i {
                    @include skillsStyleLogoTitle
                }
            }
      
            .fa-html5 {
                @include styleLogo;
                color: #e34c26;  
            }
            .fa-css3-alt {
                @include styleLogo;
                color: #264de4;
            }
            .fa-square-js {
                @include styleLogo;
                color: #beab00;
            }
            .fa-sass {
                @include styleLogo;
                color: #cc6699;
            }
            .fa-square-git {
                @include styleLogo;
                color: #f34f29;
            }
            .fa-square-github {
                @include styleLogo;
                color: #171515;
            }
            .fa-react {
                @include styleLogo;
                color: #61dbfb;
            }
            .fa-vuejs {
                @include styleLogo;
                color:#41b883;
            }
        }
    }
}