$whiteOrange: linear-gradient(to top, #ffa800, #fffff0) no-repeat;
$textShadowColorForNav: -1px 3px 4px #9d5a0b, 0 0 0em #9d5a0b, 0px 0px 0em white;
$textShadowForText: 2px 6px 5px #0f0801, 0 0 0em #ff8e09, 0px 0px 0em white;
$black: #0f0801;
$brown: #8f5500;
$lightBrown: #9d5a0b;
$orange: #ffa800;
$whiteIvoire: #fffff0;
